receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

exporters:
  otlphttp/loki:
    endpoint: http://loki:3100/otlp
    tls:
      insecure: true

  otlp/tempo:
    endpoint: tempo:4317
    tls:
      insecure: true

processors:
  batch:
  transform:
    log_statements:
      - context: log
        statements:
          - set(resource.attributes["service.name"], "ticket-app")

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [transform, batch]
      exporters: [otlp/tempo]
    logs:
      receivers: [otlp]
      processors: [transform, batch]
      exporters: [otlphttp/loki]